<p id="notice"><%= notice %></p>

<h1>Listas de Tecnicos</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Cpf</th>
      <th>Telefone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tecnicos.each do |tecnico| %>
      <tr>
        <td><%= tecnico.nome %></td>
        <td><%= tecnico.cpf %></td>
        <td><%= tecnico.telefone %></td>
        <td><%= link_to 'Show', tecnico %></td>
        <td><%= link_to 'Edit', edit_tecnico_path(tecnico) %></td>
        <td><%= link_to 'Excluir', tecnico, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tecnico', new_tecnico_path %>
