<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @tecnico.nome %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @tecnico.cpf %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @tecnico.telefone %>
</p>

<%= link_to 'Edit', edit_tecnico_path(@tecnico) %> |
<%= link_to 'Back', tecnicos_path %>
